@model RentCars.Models.CarModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

    </dl>
</div>
<div style="border:1px solid rgb(128, 128, 128);padding:15px;margin-top:15px">
    <h4>Car rentals history</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover sortable">
            @if (Model.CarRentals.Count() == 0)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr class="danger">
                        <th data-defaultsign="AZ">Customer name</th>
                        <th data-defaultsign="AZ">Customer surname</th>
                        <th data-defaultsign="_19">Rate</th>
                    </tr>
                </thead>
                foreach (var item in Model.CarRentals)
                {
                    <tr>

                        <td>@item.Customers.CustomerName</td>
                        <td>@item.Customers.CustomerSurname</td>
                        <td>@item.CarRentalRate</td>
                    </tr>
                }
            }
        </table>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
